<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="filesize" value="262144"/>
    <add key="datanodenum" value="20"/>
    <add key="logfilepath" value ="\\Log.txt"/>
    <add key="metaxmlpath" value="\\meta.xml"/>
    <add key="debuglevel" value="debug"/>
    <add key="replicanum" value="3"/>
    <add key="dedup" value="on"/>
    <add key="racknum" value="4"/>
    <add key="rackenabled" value="true"/>
  </appSettings>
</configuration>